h2 {
  font-size: 1.9rem;
  text-align: center;
  color: #9E1C36;
}

body {
  margin: 20px;
  font-family: roboto;
}

.card-header {
  color: #9E1C36 !important;
}

nav {
  padding: 0px !important;
}


nav ul {
  display: flex;
  align-items: stretch;
  /* Default */
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  flex: 0 1 auto;
  /* Default */
  list-style-type: none;
}

.nav-link {
  color: white !important;
  padding: 15px 20px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #9E1C36;
  margin-bottom: 5px;
}

.footer {
  color: white;
  background: #9E1C36;
  margin-top: 5px;
}

.main {
  text-align: left;

}

.aside-1 {
  background: #F7F7F7;
  min-height: 500px;
}

.aside-2 {
  background: #F7F7F7;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

.list-group-item {
  font-weight: 400 !important;
}

.card-body {
  padding: 0px !important;
}

p {
  font-weight: 400;
}

.main li {
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 9vmax;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  #map {
    width: 100%;
  }

  .carousel-item {
    height: 250px;
  }

  #main {
    max-width: 100%;
  }

  .card-no-photo {
    max-width: 100%;
  }

}

.nav-link:hover {
  background-color: white;
  color: #9E1C36 !important;

}

.active {
  background-color: white;
  color: #9E1C36 !important;
}

.card-title {
  color: #9E1C36 !important;
}

.carousel-item .img {
  max-height: 350px;
  background-size: cover;
}

.img1 {
  background: url('../img/raitpic1.jpg');
  background-position: 0 -50px;
}

.img2 {
  background: url('../../assets/img/raitcircle.jpg');
  background-position: 0 -130px;
}

.img3 {
  background: url('../../assets/img/auditorium.jpg');
}

.card-person {
  /* border: none !important; */
  max-width: 18rem;
  padding: 2% 2%;
}

.card-no-photo {
  /* border: none !important; */
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;

}

.card-body img {
  max-width: 10rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.btn-link {
  color: black;
}